/* Checkout, page 6 */
/* checkout.js */
/* checkout.css */

.total-text {
  margin: auto;
  max-width: 700px;
  width: 100%;
  text-align: start;
  box-sizing: border-box;
}

.total-text span {
  text-decoration: underline;
}

.payment-container {
  margin: auto;
}

/* All forms */
.payment-form, .address-form, .register-form, .login-form {
  margin: auto;
  max-width: 700px;
  width: 95%;
  display: flex;
  flex-direction: column;
}

.payment-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

legend {
  height: 30px;
}

.card-fields {
  display: flex;
  flex-direction: column;
}

.card-row {
  gap: 10px;
}

.checkout-label-text {
  display: flex;
  margin-top: 5px;
}

.expiry-input-width, .cvv-input-length {
  max-width: 50px;
}

.card-row input {
  width: 100%;
}

.hidden {
  display: none;
}

.divider {
  border: 1px solid black;
}

.address-title,
.payment-title {
  text-align: center;
  font-weight: bold;
}

.delivery-address-container {
  margin: auto;
}

.checkout-btn-container {
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.checkout-buy-btn {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 6px;
  text-decoration: none;
  background-color: #ddd;
  color: black;
  cursor: pointer;
}
