/* Product Feed Page | Home page | Page 1 */
/* product-feed-page.css is connected with index.html */

/* ----------------------------- Mobile view ---------------------- */
.register-signin-div {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 16px;
  margin-bottom: 50px;
}

.register {
  background-color: rgb(163, 255, 224);
}

.sign-in {
  background-color: rgb(160, 219, 255);
}

.register,
.sign-in {
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 10px 20px;
}

.banner-div {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-arrow {
  margin-right: 16px;
}

/* ------- Carousel Banner ------- */
.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  height: 300px;
  /* margin: auto; */
  position: relative;
  border: 1px solid #000;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.5s ease-in-out;
}

.carousel-item img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}
/* -------- End -------- */

.right-arrow {
  margin-left: 16px;
}

.right-arrow,
.left-arrow {
  background-color: rgb(230, 202, 77);
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  cursor: pointer;
}
