/* product-detail.css is connected to product-box.html */

/* product-box.css| Home page | Page 1 */
/* Connected to index.html home page */
/* The product box and what's inside */

/* class="product-detail-container" is from product.html */
.product-detail-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.box-detail {
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

.image-detail {
  width: 100%;
  height: 100%;
  max-height: 600px;
  object-fit: cover;
  border-bottom: 1px solid lightgray;
}

.content-detail {
  padding: 15px;
}

.title-detail {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.description-detail {
  color: black;
}

.rating {
  color: black;
  padding: 10px 0px;
}

/* Tags */
.tags {
  color: black;
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.back-button, .share-button {
  padding: 10px 15px;
    border-radius: 6px;
    font-size: 15px;
  cursor: pointer;

} 

.back-button {
  text-decoration: none;
  color: black;
  border: 1px solid #000;
  background-color: palegoldenrod;
  margin: 25px 10px 25px 0px;
  display: inline-block;
  max-width: fit-content;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.back-button:hover {
  background-color: goldenrod;
}

.back-button:active {
  transform: scale(0.98); /* 98% of its original size */ 
}

/* Link */
.share-button {
  background-color: #de88f8;
  border: 1px solid #aaa;
}

.share-button:hover {
  background-color: #cd40f8;
}

.share-button:active {
  transform: scale(0.98); /* 98% of its original size */ 
  background-color: #de88f8;
}

/* Reviews */
.review {
  color: black;
  padding: 10px 0px;
}

.review-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.review-list li {
  background: #f9f9f9;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 6px;
  font-size: 0.9rem;
}
