/* Register, page 3 */
/* connects to index.html, page 1 */

.error-message {
  color: red;
  font-size: 0.85rem;
  margin-top: 4px;
  display: block;
}

.form {
  width: 400px;
  margin: auto;
}

.reg-pass-text {
  margin-top: 0;
  font-size: 14px;
  margin-bottom: 25px;
}
